      <%= simple_form_for @quote do |f| %>
        <%= f.input :saying, label: "Please correct the saying here:", placeholder: "Fear is the desease. Hustle is the antidote." %>
        <br />
        <%= f.input :author, label: "Correct the author of the quote here?", placeholder: "Travis Kalanick" %>
        <br />
        <button type="button" class="btn btn-default"><%= link_to 'Close', root_path %> </button>
        <%= f.submit 'Correct Quote', class: 'btn btn-danger' %>
      <% end %>
